body {
    /* height: 3444px; */
background-color: #958d81;


}



/* .heading { */
    /* text-align: center;
    border: 1px solid black;
    position: absolute;
    top: 54px;
    left: 323px;
    width: 45%;
    padding: 12px 6px;

}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    font-style: italic;
} */
 

/* NAVIGATION BAR CONTROL */

.left {
    /* border: 1px solid black; */
    position: absolute;
    top: 2px;
    left: 53px;
    width: 78px;
    padding: 0px 27px;
    /* position: fixed; */
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    font-size: medium;
}

h3:hover {
    color: rgb(185, 14, 14);
}

/* NAVBAR CONTROL */


.rightborder {
    /* border: 1px solid black; */
    position: absolute;
    top: 3px;
    left: 923px;
    width: 361px;
    padding: 0px 7px;
    position: fixed;
}

.rightborder ul {
    list-style: none;


}

.rightborder li {

    float: left;
    overflow: auto;
    padding: 10px 25px;

}

.rightborder li a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.rightborder li a:hover {
    color: rgb(21, 194, 15);

}




/* NEXT */


.message {
    /* border: 1px solid black; */
    position: absolute;
    top: 232px;
    left: 111px;
    width: 17%;
    padding: 14px 11px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 500;
    font-style: italic;

}



/* clickhere */
.clickhere {
    /* border: 1px solid black; */
    position: absolute;
    top: 354px;
    left: 125px;
    width: 7%;
    padding: 3px 0px;
    font-size: large;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.clickhere a{
    text-decoration: none;
    color: black;
     
}








/* LINKS CONTROL */
.links {
    text-align: center;
    /* border: 1px solid black; */
    position: absolute;
    top: 390px;
    left: 138px;
    width: 77%;
    padding: 27px 36px;
   
}

.links a {
    color: black;
    font-size: 90px;
    font-weight: 600;
    font-style: italic;
}
.links a:hover{
    color: rgb(46, 8, 8);
}




/* SOCIAL MEDIA CONNTROL */
.social {
    text-align: center;
    /* border: 1px solid black; */
    position: absolute;
    top: 724px;
    left: 83px;
    width: 28%;
    padding: 13px 14px;


}

p {
    font-size: x-large;
    font-weight: 500;
    font-style: italic;
}

.socialsborder {
    text-align: center;
    /* border: 1px solid black; */
    position: absolute;
    top: 847px;
    left: 63px;
    width: 69%;
    padding: 21px 31px;

}

.socialsborder a {
    color: #342525;
    padding: 0px 82px;
    text-decoration: none;
    font-size: 33px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}




/* Ending */


.mainbox{
    border: 1px solid #857777;
    border-radius: 9px;
    background-color:  #aba295;
    position: absolute;
    top: 991px;
    left: 12px;
    width: 96%;
    padding: 266px 12px;
}


.form{
    /* border: 1px solid black; */
    position: absolute;
    bottom: 137px;
    left: 60px;
    width: 31%;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}




/* Full FORM */


.input1{
    /* border: 1px solid black; */
    position: absolute;
    top: 221px;
    left: 612px;
    width: 47%;
}
.input2{
    /* border: 1px solid black; */
    position: absolute;
    top: 133px;
    left: 612px;
    width: 47%;
}

.input3{
    /* border: 1px solid black; */
    position: absolute;
    top: 310px;
    left: 613px;
    width: 47%;
   
   
}


input{
    width: 95%;
    padding: 19px 13px;
    font-family: inherit;
}


.input4{
    /* border: 1px solid black; */
    position: absolute;
    top: 1386px;
    left: 643px;
    width: 6%;

    }
    #submit{
        padding: 10px 8px;

    }